<form method="post" action="{{ path('rubrique_delete', {'id': rubrique.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette rubrique?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rubrique.id) }}">
    <button class="btn btn-danger waves-effect mt-5">Supprimer</button>
</form>
